/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Lato";
  src: url("../../fonts/Lato-regular/Lato-Regular.eot");
  src: url("../../fonts/Lato-regular/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Lato-regular/Lato-Regular.woff2") format("woff2"), url("../../fonts/Lato-regular/Lato-Regular.woff") format("woff"), url("../../fonts/Lato-regular/Lato-Regular.ttf") format("truetype"), url("../../fonts/Lato-regular/Lato-Regular.svg#Lato-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("//Lato-Bold.eot");
  src: url("//Lato-Bold.eot?#iefix") format("embedded-opentype"), url("//Lato-Bold.woff2") format("woff2"), url("//Lato-Bold.woff") format("woff"), url("//Lato-Bold.ttf") format("truetype"), url("//Lato-Bold.svg#Lato-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
phone_languages, .current_product_page_inline, .language_menu__changing, .contact_info__number {
  font-size: 13px;
  line-height: 18px;
  color: #17181A;
}

menu_subcategory, .search_instruments__input, .search_instruments__select, .header_menu_navigation_list__item_link {
  font-size: 15px;
  line-height: 18px;
  color: #17181A;
}

search_categories, .page_enter_number, .searching_subcategory_name {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #2268B4;
}

grey_counter, .enter_email, .card_price, .checkbox_label_count {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBE;
}

goods_naming, .select_pages, .card_title_name {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #17181A;
}

goods_price, .page_max_number, .page_number {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #17181A;
}

footers_main, .subcategory, .email_address, .footer_phone_block, .footer_address {
  font-size: 13px;
  line-height: 18px;
  color: #BDBDBE;
}

footers_category, .news_letter, .footer_category {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}

footers_subcategory, .copyright_info, .language_menu_footer {
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}

.contact_languages {
  width: 1200px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
  padding-right: 40px;
  background: #F4F4F4;
  justify-content: space-between;
}

.contact_info {
  display: flex;
  align-items: center;
}
.contact_info__number {
  margin-left: 13px;
}

.language_menu {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.language_menu__changing {
  margin-right: 6.25px;
  margin-left: 6px;
}

.header_menu {
  display: flex;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 0px 12px rgba(72, 79, 78, 0.17);
}
.header_menu_home {
  margin-right: 50.25px;
}
.header_menu__search {
  display: flex;
  align-items: center;
  margin-right: 69.25px;
  padding-top: 44.25px;
  padding-bottom: 37.25px;
}
.header_menu__logo {
  padding-top: 20.78px;
  padding-bottom: 20.78px;
}
.header_menu_navigation_list {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
.header_menu_navigation_list__item {
  display: flex;
  align-items: center;
}
.header_menu_navigation_list__item_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.header_menu_navigation_list__item_link_svg {
  margin-right: 30.25px;
  margin-left: 8.5px;
}
.header_menu_user {
  display: flex;
  justify-content: flex-end;
  justify-items: flex-end;
  justify-self: flex-end;
  margin-left: 325px;
}
.header_menu_user__account {
  margin-right: 20.11px;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #F4F4F4;
}

.current_product_page {
  display: flex;
  padding-left: 40px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.current_product_page_inline {
  margin-right: 8px;
  text-decoration: none;
}

.border_line {
  display: flex;
  align-self: center;
  height: 1px;
  width: 26px;
  border: 1px solid #BDBDBE;
  margin-right: 8px;
}

.display_wall {
  padding-left: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  padding-bottom: 37px;
}

.search_instruments {
  display: flex;
  padding-left: 40px;
  padding-bottom: 22px;
}
.search_instruments__select {
  margin-right: 30px;
  width: 216px;
  height: 50px;
  box-shadow: 0px 4px 7px rgba(157, 157, 157, 0.1);
  border-radius: 40px;
  padding-left: 25px;
  padding-right: 23px;
  border: none;
  appearance: none;
  position: relative;
  background: url("../../assets/images/icn_arrow.svg") no-repeat right #FFFFFF;
  background-position-x: calc(100% - 23.25px);
}
.search_instruments label {
  position: relative;
}
.search_instruments__input {
  height: 50px;
  width: 874px;
  box-shadow: 0px 4px 7px rgba(157, 157, 157, 0.1);
  border-radius: 54px;
  padding-left: 39px;
  border: none;
}
.search_instruments svg {
  position: absolute;
  right: 16.25px;
  top: 17.25px;
}

.searching_filter_results {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 45px;
}

.search_filters {
  display: flex;
  flex-direction: column;
  width: 216px;
  background: #FFFFFF;
  border-radius: 16px;
  padding-bottom: 26px;
  margin-right: 30px;
  height: fit-content;
}

.search_result_count {
  font-size: 12px;
  line-height: 14px;
  margin-left: 16px;
  margin-right: 26px;
  align-self: center;
}

.clear_all_filters {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  color: #EB5757;
  text-decoration: none;
}
.clear_all_filters svg {
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-right: 5px;
}

.result_clear {
  display: flex;
  padding-top: 17px;
  padding-bottom: 29px;
}

.searching_subcategory_block {
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
}

.searching_subcategory_name {
  margin-bottom: 18px;
}

.label_checkbox_block {
  margin-bottom: 14px;
}
.label_checkbox_block_last {
  padding-bottom: 13px;
  border-bottom: 1px solid #E2E2E2;
}

.checkbox_square {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox_label {
  position: relative;
  padding: 0 0 0 35px;
  cursor: pointer;
}

.checkbox_square + .checkbox_label:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 13px;
}

.checkbox_square + .checkbox_label:after {
  content: "";
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border: 1px solid #C7C7CC;
  border-radius: 4px;
  background: #FFF;
}

.checkbox_square:checked + .checkbox_label:after {
  background-image: url("../../assets/images/checkmark.svg");
  background-color: #2268B4;
}

.search_goods {
  display: grid;
  grid-template-columns: 282px 282px 282px;
  grid-template-rows: 392px 392px 392px;
  grid-gap: 16px;
  height: fit-content;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  height: 392px;
}
.card_image_block {
  position: relative;
}
.card_tag_new {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card_tag_bestseller {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card_tag_teamsfavorite {
  position: absolute;
  right: 10px;
  top: 43px;
}
.card_title_name {
  margin-top: 24px;
  text-decoration: none;
}
.card_price {
  color: #17181A;
}

.navigation_select_pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation-pages {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.page_back {
  background: #D3D3D3;
  padding: 10px 29px 10px 30px;
  border-radius: 100px;
}

.page_number {
  margin-left: 14px;
  margin-right: 14px;
}

.page_enter_number {
  padding: 6px 30px;
  border: 1px solid #E2E2E2;
  border-radius: 100px;
  text-align: center;
  width: 100px;
}

.page_max_number {
  margin-left: 14px;
  margin-right: 14px;
}

.page_next {
  background: #99C63C;
  padding: 10px 30px 10px 29px;
  border-radius: 100px;
}

.select_pages {
  width: 80px;
  height: 36px;
  padding-left: 22px;
  display: flex;
  align-items: center;
  margin-top: 34px;
  border: 1px solid #E2E2E2;
  border-radius: 25px;
  appearance: none;
  position: relative;
  background: url("../../assets/images/icn_arrow.svg") no-repeat right #FFFFFF;
  background-position-x: calc(100% - 25px);
}

.transparent_line {
  display: flex;
  align-self: center;
  border: 0.5px solid rgba(216, 216, 216, 0.4);
  margin-bottom: 12px;
  width: 1116px;
  padding: 0 42.5px 0 43.5px;
}

.footer_block {
  display: flex;
  background: #26282C;
  padding-left: 40px;
  padding-top: 47px;
  padding-bottom: 22px;
}

.contacts_address {
  width: 199px;
  margin-right: 91px;
}

.footer_address {
  display: flex;
  margin-top: 16px;
  margin-bottom: 21px;
}

.physical_address {
  margin-left: 10px;
}

.footer_phone_block {
  display: flex;
  margin-top: 21px;
  margin-bottom: 22px;
}

.phone_number {
  margin-left: 10px;
}

.footer_mail_block {
  display: flex;
  align-self: center;
  margin-top: 21px;
  margin-bottom: 22px;
}

.email_address {
  margin-left: 10px;
}

.footer_categories {
  display: flex;
}

.subcategory {
  text-decoration: none;
  margin-bottom: 2px;
}

.subcategory:last-child {
  margin-bottom: 0;
}

.footer_category_product {
  display: flex;
  flex-direction: column;
}

.footer_category_applications {
  margin-left: 51px;
  margin-right: 52px;
  display: flex;
  flex-direction: column;
}

.footer_category_myprofile {
  display: flex;
  flex-direction: column;
  margin-right: 58px;
}

.footer_category_duodisplay {
  display: flex;
  flex-direction: column;
}

.news_media_block {
  display: flex;
  flex-direction: column;
  margin-left: 133px;
}

.news_letter {
  margin-bottom: 23px;
}

.enter_email_block {
  position: relative;
  margin-bottom: 8px;
}

.enter_email_link {
  position: absolute;
  right: 11.57px;
  top: 16.37px;
}

.enter_email {
  padding: 12px 46px 13px 29px;
  width: 198px;
  border: 0.5px solid #515151;
  border-radius: 39px;
  background: #26282C;
}

.footer_language_menu {
  display: flex;
  align-items: center;
  padding: 13px 51px 12px 64px;
  border: 0.5px solid #515151;
  border-radius: 39px;
  cursor: pointer;
}

.language_menu_footer {
  margin-left: 6.25px;
  margin-right: 6px;
}

.social_networks {
  display: flex;
  margin-top: 32.25px;
}

.flickr_block {
  background: linear-gradient(167.84deg, #FF2C91 -55.34%, #921654 91.14%);
  border-radius: 7.59649px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
}
.flickr_block svg {
  width: 15.19px;
  height: 15.19px;
}
.flickr_block .test {
  justify-content: center;
  width: 15.19px;
  height: 15.19px;
}

.twitter_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
  background: linear-gradient(167.84deg, #00C2FF -55.34%, #18718F 91.14%);
  border-radius: 7.59649px;
  margin-left: 5.56px;
  margin-right: 5.57px;
}

.facebook_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
  background: linear-gradient(167.84deg, #2C67FF -55.34%, #1D42A5 91.14%);
  border-radius: 7.59649px;
}

.instagram_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
  background: radial-gradient(132.53% 132.61% at 29.26% 107.77%, #FFD879 9.69%, #FCCB76 15.39%, #F5AA6C 25.83%, #E9755E 39.76%, #E45F58 44.9%, #D22A9C 67.86%, #6968DF 100%);
  border-radius: 7.59649px;
  margin-left: 5.57px;
  margin-right: 5.56px;
}

.linkedin_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
  background: linear-gradient(167.84deg, #0094FF -55.34%, #135C92 91.14%);
  border-radius: 7.59649px;
}

.youtube_block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28.49px;
  height: 28.49px;
  background: linear-gradient(167.84deg, #FF2C2C -55.34%, #B12728 91.14%);
  border-radius: 7.59649px;
  margin-left: 5.56px;
}

.copyrights_block {
  display: flex;
  justify-content: space-between;
  background: #1E2023;
  padding: 6px 45px 4px 41px;
}

.copyright_heart {
  display: flex;
  align-items: center;
}

.heart_url {
  width: 13.45px;
  height: 11.84px;
}

.copyright_info {
  margin-right: 10px;
}

.anchor {
  padding: 4.43px 9.72px 4.38px 9.72px;
  background: #99C63C;
  border-radius: 17.5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
