phone_languages {
  font-size: 13px;
  line-height: 18px;
  color: #17181A;
}

menu_subcategory {
  font-size: 15px;
  line-height: 18px;
  color: #17181A;
}

search_categories {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #2268B4;
}

grey_counter {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #BDBDBE;
}

goods_naming {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #17181A;
}

goods_price {
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #17181A;
}

footers_main {
  font-size: 13px;
  line-height: 18px;
  color: #BDBDBE;
}

footers_category {
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
}

footers_subcategory{
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
}